<ion-content fullscreen>
  <ion-item class="vertical-space">
    <h1 class="center">Iniciar sesi&oacute;n</h1>
  </ion-item>
  <form [formGroup]="formSigninSignup" novalidate>
    <ion-list lines="full" class="ion-padding">
      <ion-item>
        <ion-label position="stacked">
          Email
          <ion-text *ngIf="formInputIsRequired('email')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-input type="email" placeholder="Ingresa tu email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Contrase&ntilde;a
          <ion-text *ngIf="formInputIsRequired('password')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-input type="password" placeholder="Ingresa tu contrase&ntilde;a" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-button [disabled]="!formSigninSignup.valid" (click)="signinSignup(formSigninSignup, 'signin')" type="submit" class="ion-no-padding" expand="block" shape="round" color="primary">
            Iniciar sesi&oacute;n
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button [disabled]="!formSigninSignup.valid" (click)="signinSignup(formSigninSignup, 'signup')" type="submit" class="ion-no-padding" expand="block" shape="round" color="secondary">
            Crear cuenta 
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>