<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()" fill="clear" slot="icon-only">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>A&ntilde;adir jornada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="formAddNewPAP" novalidate>
    <ion-list lines="full" class="ion-padding">
      <ion-list-header>
        <ion-label>Registra t&uacute; PaP</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">
          Fecha
          <ion-text *ngIf="formInputIsRequired('datetime')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-datetime min="2020" max="2030" display-format="DD/MM/YYYY HH:mm" placeholder="Ingresa una fecha"
          formControlName="datetime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>
          Feriado / Fin de semana
        </ion-label>
        <ion-toggle color="secondary" formControlName="holiday"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Estado de pago
          <ion-text *ngIf="formInputIsRequired('paymentStatus')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-select value="notifications" interface="action-sheet" placeholder="Selecciona un estado de pago"
          formControlName="paymentStatus">
          <ion-select-option *ngFor="let ps of chargeDataSelect.paymentStatus" value="{{ps.name}}">
            {{ps.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Proyecto
          <ion-text *ngIf="formInputIsRequired('project')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-select value="notifications" interface="action-sheet" placeholder="Selecciona un proyecto"
          formControlName="project">
          <ion-select-option *ngFor="let p of chargeDataSelect.project" value="{{p.name}}">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Tipo PaP
          <ion-text *ngIf="formInputIsRequired('papType')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-select value="notifications" interface="action-sheet" placeholder="Selecciona un tipo de PaP"
          formControlName="papType">
          <ion-select-option *ngFor="let pt of chargeDataSelect.papType" value="{{pt.name}}">
            {{pt.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Descripci&oacute;n del PaP
          <ion-text *ngIf="formInputIsRequired('papDescription')" color="danger">&#42;</ion-text>
        </ion-label>
        <ion-textarea formControlName="papDescription" placeholder="Ingresa una descripci&oacute;n del PaP">
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="!formAddNewPAP.valid" (click)="addNewPAP(formAddNewPAP)" expand="block" shape="round" color="secondary" class="ion-margin">
      A&ntilde;adir registro
    </ion-button>
  </form>
</ion-content>

<app-footer></app-footer>