<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear" slot="icon-only">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de PaP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Filtrar por</ion-label>
      <ion-select interface="action-sheet" (ionChange)="getFilter($event)" placeholder="Selecciona">
        <ion-select-option *ngFor="let opt of filterOptions" value="{{opt.name}}">{{opt.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-sliding *ngFor="let registry of registries">
      <ion-item>
        <ion-label [color]="registry.paymentStatus === 'Pagado' ? 'primary' : 'danger'">
          <h4>{{registry.project}}</h4>
          <p>Fecha: {{formatDatetime(registry.datetime.seconds)}}</p>
          <p>Feriado: {{registry.holiday ? 'Si': 'No'}}</p>
          <p>Estado de pago: {{registry.paymentStatus}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="viewDetails(registry)" slot="icon-only">
          <ion-icon slot="top" name="eye-outline"></ion-icon>
          Ver detalle
        </ion-item-option>
        <ion-item-option *ngIf="registry.paymentStatus !== 'Pagado'" color="secondary"
          (click)="updateRegistry(registry)" slot="icon-only">
          <ion-icon slot="top" name="create-outline"></ion-icon>
          Actualizar
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteRegistry(registry)" slot="icon-only">
          <ion-icon slot="top" name="trash-outline"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNewPAP()">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer></app-footer>