<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary">Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item class="vertical-space">
    <h1 class="center">Crea tu cuenta</h1>
  </ion-item>
  <ion-list lines="full" class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="Ingresa tu email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contrase&ntilde;a</ion-label>
      <ion-input type="password" placeholder="Ingresa tu contrase&ntilde;a" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button (click)="signup()" expand="block" shape="round" color="primary" class="ion-no-margin">
      Crear cuenta
    </ion-button>
    <ion-button (click)="goToLogin()" expand="block" fill="clear" color="primary" class="ion-no-margin">
      &#191;Ya tienes un cuenta&#63; Inicia sesi&oacute;n aqu&iacute;
    </ion-button>
  </div>
</ion-content>