<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear" slot="icon-only">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de PaP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar (ionChange)="search($event)"></ion-searchbar>
  <ion-list lines="full">
    <ion-item-sliding *ngFor="let registry of registries">
      <ion-item>
        <ion-label [color]="registry.data().paymentStatus === 'Pagado' ? 'primary' : 'danger'">
          <h4>{{registry.data().project}}</h4>
          <p>Fecha: {{getDate(registry.data().datetime)}}</p>
          <p>Estado de pago: {{registry.data().paymentStatus}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteRegistry(registry)" slot="icon-only">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNewPAP()">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>